<div class="content-body" style="min-height: 300px !important;">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <div class="card overflow-hidden">
                    <div class="card-header align-items-start border-0 pb-0">
                        <div class="mr-auto">
                            <p class="mb-2 fs-13"><i class="fa fa-caret-up scale5 mr-2 text-success" aria-hidden="true"></i>Total Lands</p>
                            <h2 class="text-black mb-0 font-w600"><%=total %></h2>
                        </div>
                        
                    </div>
                    <div class="card-body p-0">
                        <canvas id="widgetChart" class="max-h80 mt-auto"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card overflow-hidden">
                    <div class="card-header align-items-start border-0 pb-0">
                        <div class="mr-auto">
                            <p class="mb-2 fs-13"><i class="fa fa-caret-down scale5 mr-2 text-danger" aria-hidden="true"></i>Purchased Lands</p>
                            <h2 class="text-black mb-0 font-w600"><%=total-total_for_sale %></h2>
                        </div>
                        
                    </div>
                    <div class="card-body p-0">
                        <canvas id="widgetChart2" class="max-h80 mt-auto"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card overflow-hidden">
                    <div class="card-header align-items-start border-0 pb-0">
                        <div class="mr-auto">
                            <p class="mb-2 fs-13"><i class="fa fa-caret-down scale5 mr-2 text-danger" aria-hidden="true"></i>Remaining Lands</p>
                            <h2 class="text-black mb-0 font-w600"><%=total_for_sale %></h2>
                        </div>
                        
                    </div>
                    <div class="card-body p-0">
                        <canvas id="widgetChart3" class="max-h80 mt-auto"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card overflow-hidden">
                    <div class="card-header align-items-start border-0 pb-0">
                        <div class="mr-auto">
                            <p class="mb-2 fs-13"><i class="fa fa-caret-up scale5 mr-2 text-success" aria-hidden="true"></i>All</p>
                            <h2 class="text-black mb-0 font-w600"><%=total %></h2>
                        </div>
                        
                    </div>
                    <div class="card-body p-0">
                        <canvas id="widgetChart4" class="max-h80 mt-auto"></canvas>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>