<style >
    .ui-datepicker-calendar {
          display: none;
      }​
  </style>
    <div class="heading-row mb-20"style="margin-top: 69px;">
      <div class="row align-item-center">
         <div class="col-lg-6">
            <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white mr-2"><i class="mdi mdi-account-plus"></i></span> Add Content </h3>
         </div>
          <div class="col-lg-6">
           <div class="text-right">
             <div>
               <a href="/users/dashboard" class="btn btn-common bg-gradient-primary">Go Back</a>
             </div>
           </div>
         </div>
    </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
             <div class="card-body">
               <div class="row">
                 <div class="col-md-11 m-auto">
                   <div class="add-painting-form">
                     <form  method="post" enctype="multipart/form-data" action="/users/add-painting">
                     <div class="profile-form mt-20 view-banner-page">
                         <div class="row">
                            <div class="col-md-4">
                               <div class="form-group">
                                <label>Model Images(PNG, JPG, GIF, WEBP or MP4. Max 200mb.)</label>
                                 <div id="attribute_section_add_main">
                                   <div id="attribute_section_add" class="attribute_section-add-new">
                                       <div class="border-gray document-upload-box artist-img">
                                         <div class="text-left">
                                            <div class="uploader-img">
                                              <img id="user_profile_image_preview" src="/assets/images/other/demo-img.png" class="m-t-5 painting-main-img" >
                                            </div>
                                             <div class="input-group mb-3 mb-3 verification">
                                                <input type="text" class="form-control" readonly="" id="text_img_name" data-rule-required="true" data-msg-required="Please select your Id.">
                                                <span class="input-group-btn">
                                                  <span class="btn btn-common bg-gradient-primary btn-file1">
                                                  Upload <input type="file"id="imgInp6" value="" name="file" multiple  accept="image*" onchange="readURL(this);" required>
                                                   <input type="hidden" name="old_image" value="">
                                                  </span>   
                                                </span>
                                                <button class="btn btn-common bg-gradient-primary removie-icon ml-15">
                                                  <i class="mdi mdi-delete-forever"></i>
                                                </button>
                                               </div>
                                            </div>
                                          </div>
                                           
                                          <div class="mt-20 ml-15">
                                            <a href="javascript:void(0);" class="btn-clone" title="Add" onclick="attribute_cloning_add();">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a  href="javascript:void(0);" id="attribute_cloning" class="btn-clone" title="Remove" onclick="remove_current_div_venues($(this));">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>

                                    </div>
                                  </div>
                              </div>
                           </div>
                          
                           <div class="col-md-8">
                              <h4>Basic Details</h4>
                             
                             
  
                            
                              <div class="row">
                              
                               
                                 <div class="col-md-4">
                                   <div class="form-group">
                                    <label>No of copies</label>
                                    <input type="text"name="total_copy" id="total_copy" class="form-control">
                                  </div>
                                </div>
                                <div class="col-md-4">
                                   <div class="form-group">
                                    <label>No of copies for Sale</label>
                                    <input type="text" name="copy_for_sale" id="copy_for_sale" onkeyup ="checkForSale(value)" class="form-control">
                                  </div>
                                </div>
                               
                              </div>
  
                              <div class="row">
                                 <div class="col-md-4">
                                   <div class="form-group">
                                    <label>Display Name</label>
                                    <input type="text"name="title" class="form-control">
                                  </div>
                                </div>
                                 <div class="col-md-4">
                                   <div class="form-group">
                                      <label>Categories</label>
                                      <div class="box">
                                          <select class="form-control"name="category">
                                             
                                             
                                          </select>
                                        </div>
                                    </div>
                                </div>
  
                                
                              </div>
  
  
                                 
                              <div class="row"style="display:none">
                                 <div class="col-md-4">
                                    <div class="form-group for-flex-inline">
                                      <label>For Sale</label>
                                       <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" onclick="displayRadioValue(value)" class="form-check-input" name="for_sale" id="optionsRadios1" value="Yes"> Yes <i class="input-helper"></i></label>
                                        </div>
                                         <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" onclick="displayRadioValue(value)" class="form-check-input" name="for_sale" id="optionsRadios1" value="No"> No <i class="input-helper"></i></label>
                                        </div>

                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" onclick="displayRadioValue(value)" class="form-check-input" name="for_sale" id="optionsRadios1" value="Bid"> Bid <i class="input-helper"></i></label>
                                        </div>

                                    </div>
                                  </div>
                                </div>
                                <div class="row" id="price-detail-usd">
                                   <div class="col-md-4">
                                   <div class="form-group">
                                      <label>Basic Price(USD)</label>
                                      <input type="text"name="basic_price_usd" onkeyup="calUSD(value)"class="form-control">
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                   <div class="form-group">
                                      <label>Platform Fee(15%)</label>
                                      <input type="text" name="plateform_fees_usd"id="plateform_fees_usd"class="form-control">
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                   <div class="form-group">
                                      <label>You get (USD)</label>
                                      <input type="text"name="total_usd"id="total_usd" class="form-control">
                                    </div>
                                </div>
                                
                              
                              
                                </div>

                                <div class="row" id="price-detail-bid"style="display:none">
                                   <div class="col-md-4">
                                   <div class="form-group">
                                      <label>Start Date</label>
                                      <input type="date"name="bid_start"class="form-control">
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                   <div class="form-group">
                                      <label>End Date</label>
                                      <input type="date" name="bid_end"class="form-control">
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                   <div class="form-group">
                                      <label>Bid Min Amount</label>
                                      <input type="text"name="bid_min_amount" class="form-control">
                                    </div>
                                </div>
                                </div>
                                <div class="row" id="price-detail-tab">
                                   <div class="col-md-4">
                                   <div class="form-group">
                                      <label>Basic Price(Taboo)</label>
                                      <input type="text"name="basic_price" id="basic_price" onkeyup="calTaboo(value)"class="form-control"readonly>
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                   <div class="form-group">
                                      <label>Platform Fee(15%)</label>
                                      <input type="text" name="plateform_fees"id="plateform_fees"class="form-control"readonly>
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                   <div class="form-group">
                                      <label>You get (Taboo)</label>
                                      <input type="text"name="total_taboo"id="total_taboo" class="form-control"readonly>
                                    </div>
                                </div>
                                
                              </div>
  
                               <h4>Accept Payment In</h4>
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="form-group for-flex-inline mt-3">
                                       <div class="form-check ml-0">
                                          <label class="form-check-label">
                                            <input type="checkbox" checked="" name="payment_in" value="Taboo"class="form-check-input" onclick="this.checked = true;" > Taboo </label>
                                        </div>
                                     
                                          
                                    </div>
                                  </div>
                                </div>
  
  
                                <h4>This content available For(Comming Soon)</h4>
                              <div class="row"style="display:none">
                                 <div class="col-md-12">
                                    <div class="form-group for-flex-inline mt-3">
                                       <div class="form-check ml-0">
                                          <label class="form-check-label">
                                            <input type="checkbox" checked="" onclick="this.checked =true;"  name="available_to[]" value="All"class="form-check-input"> Free </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="checkbox"  onclick="this.checked =true;"  name="available_to[]"value="1 Tier" class="form-check-input" checked> 1 Tier </label>
                                          </div>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="checkbox" checked onclick="this.checked =true;"  name="available_to[]"value="2 Tier"class="form-check-input"> 2 Tier</label>
                                          </div>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="checkbox" checked name="available_to"  onclick="this.checked =true;" value="3 Tier"class="form-check-input"> 3 Tier </label>
                                          </div>
                                         
                                          
                                    </div>
                                  </div>
                                </div>
  
                               
                               <!-- <input type="hidden" class="form-check-input" name="contract_type"  value=" ERC 721"> -->

  
                                          <h4 class="">Chose Contract Type</h4>
                                            <div class="row">
                                               <div class="col-md-12">
                                                  <div class="form-group for-flex-inline">
                                                     <div class="form-check ml-0">
                                                        <label class="form-check-label">
                                                          <input type="radio" checked class="form-check-input" name="contract_type" id="optionsRadios1" value="ERC 1155"> ERC 1155 <i class="input-helper"></i></label>
                                                      </div>
                                                       <div class="form-check"style="display:none;">
                                                        <label class="form-check-label">
                                                          <input type="radio" class="form-check-input" name="contract_type" id="optionsRadios1" value=" ERC 721"> ERC 721  <i class="input-helper"></i></label>
                                                      </div>
                                                  </div>
                                                </div>
                                              </div>
  
  
  
  
  
                                 
                                
  
  
                                     
  
                                    <div class="row">
                                       <div class="col-md-12">
                                         <div class="form-group">
                                            <label>Meta Tag</label>
                                            <input type="text"name="meta_tag" class="form-control">
                                          </div>
                                      </div>
                                       <div class="col-md-12">
                                         <div class="form-group">
                                            <label>Description(optional)</label>
                                             <textarea class="form-control"name="description" rows="6"></textarea>
                                          </div>
                                      </div>
                                    </div>
  
  
  
  
  
                               <div class="popup-btn text-center">
                                <input type="submit" name="preview" value="preview" class="btn btn-common bg-gradient-primary">
                                <button type="submit"  class="btn btn-common bg-gradient-primary">Submit</button>
                              </div>
                           </div>
                         </div>
                       
                        
                 
  
                     </div>
                     </form>
                   </div>
                 </div>
               </div>
             </div>
          </div>
        </div>
      </div>
  
  <script>
    
    function calTaboo(basic_price){
     // alert(basic_price)

      let plateform_fees=(basic_price*15)/100
      let total_taboo=basic_price-plateform_fees;
      $("#plateform_fees").val(plateform_fees);
      $("#total_taboo").val(total_taboo);
    }
    
    function calUSD(basic_price){
     // alert(basic_price)

      let plateform_fees=(basic_price*15)/100
      let total_taboo=basic_price-plateform_fees;
      $("#plateform_fees_usd").val(plateform_fees);
      $("#total_usd").val(total_taboo);

      let taboo_price=basic_price*884.117;
      let plateform_fees_taboo=(taboo_price*15)/100
      let taboo=basic_price-plateform_fees;
      $("#plateform_fees").val(plateform_fees_taboo);
      $("#total_taboo").val(taboo);
      $("#basic_price").val(taboo_price);
            
    }


    
  </script>
  
  <script type="text/javascript" > 
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.onload = function (e) {
$('#user_profile_image_preview')
.attr('src', e.target.result)
.width(200)
.height(150);
};

reader.readAsDataURL(input.files[0]);
}
var src = $('#imgInp6').val(); // "static/images/banner/blue.jpg"
var tarr = src.split('/');      // ["static","images","banner","blue.jpg"]
var file = tarr[tarr.length-1]; // "blue.jpg"
var data = file.split('.')[0];  // "blue"

//alert(data);
$('#text_img_name').val(src);
}

</script>

<script>
  $(document).on('click.bs.dropdown.data-api', '.dropdown.keep-inside-clicks-open', function (e) {
    e.stopPropagation();
  });
</script>


<script>
var countval = 1; //for Increase id num  
function attribute_cloning_add(){
    var new_count = countval++; //for increase id number
    // both for change id  
    $clone1 = $("#attribute_section_add").clone();
    $clone1.attr('id','attribute_section_add'+new_count);
    $('#attribute_section_add_main').append($clone1); //for append Clone Data
    re_arrange_qualification();
    
}

</script>

<!-- Remove Clone by Click Minus Button -->
<script>
    function remove_current_div_venues(obj){
        var parent_id = obj.parent().parent().attr('id'); //for parent ID
        if( parent_id != 'attribute_section_add'){
            obj.parent().parent().remove();
            re_arrange_qualification(); 
        }    
    }

    function displayRadioValue(value) {
           
            if(value=="No"){
              $("#price-detail-usd").css("display","none")

               $("#price-detail-tab").css("display","none")
               $("#price-detail-bid").css("display","none")

            }
            else if(value=="Bid"){

              $("#price-detail-usd").css("display","none")

               $("#price-detail-tab").css("display","none")
               
              $("#price-detail-bid").css("display","")

            }
            else
            {
              $("#price-detail-usd").css("display","")

              $("#price-detail-tab").css("display","")
              
              $("#price-detail-bid").css("display","none")

            }
        }
  
        function checkForSale(value){

           let  total_copy=$("#total_copy").val();
           let total=parseInt(total_copy);
           if(value>total){
             alert("No.Of copy For Sale Should not be greater then Total Copy");
             $("#copy_for_sale").val("");
           }

        }
</script>
<style>

  .form-control:disabled, .form-control[readonly] {
    background-color: #101922;
    opacity: 1;
}
  </style>