
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">

    <section class="banner-section banner-slider">
     <div class="container-fluid p-0">
       <div class="row">
         <div class="col-md-12">
           <div class="slider-banner">
             <div class="item">
               <img src="/frontassets/images/market/bg5.jpg" class="img-fluid">
                <div class="text-left inner-banner-text">
                   <div class="row align-items-center">
                      <div class="col-md-5 offset-md-1">
                         <h4 >Become A Land Owner <br> And Mine For BNB!</h4>
                          <a href="" data-toggle="modal" data-target="#loginModal" class="pre-register-btn animate__animated animate__backInRight wow slideInRight">Buy Now</a>
                      </div>
                      <div class="col-md-5">
                         <div class="outer-frame">
                           <img class="frame-img"  src="/frontassets/images/animate-gif/Frame1.png" class="img-fluid">
                            <img class="inner-img" src="/frontassets/images/animate-gif/1house.png" class="img-fluid">
                         </div>
                      </div>
                   </div>
                </div>
             </div>
              <div class="item">
               <img src="/frontassets/images/market/bg5.jpg" class="img-fluid">
                <div class="text-left inner-banner-text">
                   <div class="row align-items-center">
                      <div class="col-md-5 offset-md-1">
                         <h4 >Become A Land Owner <br> And Mine For BNB!</h4>
                          <a href="" data-toggle="modal" data-target="#loginModal" class="pre-register-btn animate__animated animate__backInRight wow slideInRight">Buy Now</a>
                      </div>
                      <div class="col-md-5">
                         <div class="outer-frame">
                           <img class="frame-img"  src="/frontassets/images/animate-gif/Frame2.png" class="img-fluid">
                            <img class="inner-img" src="/frontassets/images/animate-gif/2house.png" class="img-fluid">
                         </div>
                      </div>
                   </div>
                </div>
             </div>
              <div class="item">
               <img src="/frontassets/images/market/bg5.jpg" class="img-fluid">
                <div class="text-left inner-banner-text">
                   <div class="row align-items-center">
                      <div class="col-md-5 offset-md-1">
                         <h4 >Become A Land Owner <br> And Mine For BNB!</h4>
                          <a href="" data-toggle="modal" data-target="#loginModal" class="pre-register-btn animate__animated animate__backInRight wow slideInRight">Buy Now</a>
                      </div>
                      <div class="col-md-5">
                         <div class="outer-frame">
                           <img class="frame-img"  src="/frontassets/images/animate-gif/Frame3.png" class="img-fluid">
                            <img class="inner-img" src="/frontassets/images/animate-gif/3house.png" class="img-fluid">
                         </div>
                      </div>
                   </div>
                </div>
             </div>
              <div class="item">
               <img src="/frontassets/images/market/bg5.jpg" class="img-fluid">
                <div class="text-left inner-banner-text">
                   <div class="row align-items-center">
                      <div class="col-md-5 offset-md-1">
                         <h4 >Become A Land Owner <br> And Mine For BNB!</h4>
                          <a href="" data-toggle="modal" data-target="#loginModal" class="pre-register-btn animate__animated animate__backInRight wow slideInRight">Buy Now</a>
                      </div>
                      <div class="col-md-5">
                         <div class="outer-frame">
                           <img class="frame-img"  src="/frontassets/images/animate-gif/Frame4.png" class="img-fluid">
                            <img class="inner-img" src="/frontassets/images/animate-gif/4house.png" class="img-fluid">
                         </div>
                      </div>
                   </div>
                </div>
             </div>
              <div class="item">
               <img src="/frontassets/images/market/bg5.jpg" class="img-fluid">
                <div class="text-left inner-banner-text">
                   <div class="row align-items-center">
                      <div class="col-md-5 offset-md-1">
                         <h4 >Become A Land Owner <br> And Mine For BNB!</h4>
                          <a href="" data-toggle="modal" data-target="#loginModal" class="pre-register-btn animate__animated animate__backInRight wow slideInRight">Buy Now</a>
                      </div>
                      <div class="col-md-5">
                         <div class="outer-frame">
                           <img class="frame-img"  src="/frontassets/images/animate-gif/Frame5.png" class="img-fluid">
                            <img class="inner-img" src="/frontassets/images/animate-gif/5house.png" class="img-fluid">
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             
             
           </div>
         </div>
       </div>
     </div>
   </section>
   
   
   <section class=" second-banner">
     <!-- <div class="for-animation-add"></div> -->
     <div class="for-animation-add3"></div>
     <div class="container">
       <div class="row">
         <div class="col-md-5">
            <div class="text-left inner2-text animate__animated animate__backInRight wow slideInRight">
               <h4 class="">Why Income Island?</h4>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
               <div>
                 <a href="/market" class="orange-btn">Buy Land</a>
                 <a href="/market" class="orange-btn">Discover The Land</a>
               </div>
            </div>
         </div>
       </div>
     </div>
   </section>
   
   
   
   <section class="third-section">
      <div class="for-animation-add4"></div>
     <!--  <div class="for-animation-add5"></div> -->
     <div class="container">
       <div class="row">
         <div class="col-md-5">
             <div class="text-left inner2-text animate__animated animate__backInRight wow slideInRight">
               <h4 class="">BUY NOW & GET MORE POINTS</h4>
               <p>Income Island is our main utility token that allows you to buy and sell LANDS and /frontassets in The Income Island.</p>
               <div>
                 <a href="/market" class="orange-btn">Buy /frontassets</a>
                 
               </div>
            </div>
         </div>
       </div>
     </div>
   </section>
   
   
   
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
   <script>
    $('.slider-banner').slick({
           dots: false,
           infinite: true,
           speed: 500,
           slidesToShow: 1,
           slidesToScroll: 1,
           autoplay: true,
           autoplaySpeed: 3000,
           arrows: true,
           responsive: [{
             breakpoint: 600,
             settings: {
               slidesToShow: 1,
               slidesToScroll: 1
             }
           },
           {
              breakpoint: 400,
              settings: {
                 arrows: false,
                 slidesToShow: 1,
                 slidesToScroll: 1
              }
           }]
       });
   </script>
   
  