	<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
          <div class="container-fluid">
              <div class="row page-titles mx-0">
                  <div class="col-sm-6 p-md-0">
                      <div class="welcome-text">
                          <h4>Hi, welcome back!</h4>
                          <span>Datatable</span>
                      </div>
                  </div>
                 
              </div>
              <!-- row -->


              <div class="row">
                 
        <div class="col-12">
                      <div class="card">
                          <div class="card-header">
                              <h4 class="card-title">Transaction List</h4>
                          </div>
                          <div class="card-body">
                              <div class="table-responsive">
                               
                                  <table id="example3" class="display" style="min-width: 845px">
                                      <thead>
                                          <tr>
                                              <th width="20%">Amount</th>
                                              <th width="30%">Payment hash</th>
                                              <th width="30%">Wallet add</th>
                                              <th width="20%">Status</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>30,000</td>
                                              <td>43jh43hjhjh3hgg4334</td>
                                              <td>vvb4vb4vb433bbv4n43m4434v34vvb432vb2bv</td>
                                              <td><span class="badge badge-warning">Pending</span></td>
                                          </tr>
                                          <tr>
                                              <td>30,000</td>
                                              <td>43jh43hjhjh3hgg4334</td>
                                              <td>vvb4vb4vb433bbv4n43m4434v34vvb432vb2bv</td>
                                              <td><span class="badge badge-success">Confirm</span> </td>
                                          </tr>
                                           <tr>
                                              <td>30,000</td>
                                              <td>43jh43hjhjh3hgg4334</td>
                                              <td>vvb4vb4vb433bbv4n43m4434v34vvb432vb2bv</td>
                                              <td><span class="badge badge-warning">Pending</span></td>
                                          </tr>
                                          <tr>
                                              <td>30,000</td>
                                              <td>43jh43hjhjh3hgg4334</td>
                                              <td>vvb4vb4vb433bbv4n43m4434v34vvb432vb2bv</td>
                                              <td><span class="badge badge-success">Confirm</span> </td>
                                          </tr>
                                     
                                         
                                         
                                        
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
        
      </div>
          </div>
      </div>
      <!--**********************************
          Content body end
      ***********************************-->