<header class="header-main">
    <div class="container">
       <div class="row">
         <div class="col-md-12">
            <div class="logo-box-line">
               <a href="">
                 <img src="/frontassets/images/logo.png"> 
               </a>  
              <span style="cursor:pointer" onclick="openNav()"><img src="/frontassets/images/menu.png"></span>
              <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class="active" href="index.php"><img src="/frontassets/images/right-arrow.png"> Home</a>
                <a href="/map"><img src="/frontassets/images/right-arrow.png"> MAP</a>
                <a href="#"><img src="/frontassets/images/right-arrow.png"> Create</a>
                <a href="#"><img src="/frontassets/images/right-arrow.png"> About</a>
                <a href="/market"><img src="/frontassets/images/right-arrow.png"> Market</a>
              </div>
  
            </div>
         </div>
      </div>
    </div>
  </header>