
<!-- <header class="header-main">
    <div class="container">
       <div class="row">
         <div class="col-md-12">
            <div class="logo-box-line">
               <a href="/">
                 <img src="/frontassets/images/logo.png"> 
               </a>  
              <span style="cursor:pointer" onclick="openNav()"><img src="/frontassets/images/menu.png"></span>
              <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a class="active" href="/"><img src="/frontassets/images/right-arrow.png"> Home</a>
                <a href="/map"><img src="/frontassets/images/right-arrow.png"> MAP</a>
                <a href="#"onclick="checkUser()"><img src="/frontassets/images/right-arrow.png">Transactions</a>
               
                <a href="/market"><img src="/frontassets/images/right-arrow.png"> Market</a>
              </div>
  
            </div>
         </div>
      </div>
    </div>
  </header> -->


    <header class="header-main index-header">
    <div class="container-fluid pl-1 pr-1">
        <nav class="navbar navbar-expand-lg navbar-light p-2">
            <a class="navbar-brand logo" href="">
                
               <img src="/frontassets/images/logo.png"> 
                
            </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navigation" id="main-nav">
                  <li class="nav-item active">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    
                    
                    <li class="nav-item">
                        <a class="nav-link" href="">Audit</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="">Buy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Whitepaper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Casino</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link " href="">Rewards Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#blog">Metaverse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-btn-new" href="create-NFT.html">Buy Property</a>
                    </li>
                    
                    
                  
                </ul>
            </div>
          
        </nav>
    </div>
</header>