<!--**********************************
            Header start
        ***********************************-->
        <div class="header">
          <div class="header-content">
              <nav class="navbar navbar-expand">
                  <div class="collapse navbar-collapse justify-content-between">
                      <div class="header-left">
                          <div class="dashboard_bar">
                             
                          </div>
                      </div>

                      <ul class="navbar-nav header-right">
            <li class="nav-item">
              <div class="input-group search-area d-xl-inline-flex d-none">
                <div class="input-group-append">
                  <button class="input-group-text"><i class="flaticon-381-search-2"></i></button>
                </div>
                <input type="text" class="form-control" placeholder="Search here...">
              </div>
            </li>
                          
            
          
                          <li class="nav-item dropdown header-profile">
                              <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                  <img src="/assets/images/profile/pic1.jpg" width="20" alt=""/>
                <div class="header-info">
                  <span><%=name %></span>
                  <small>Super Admin</small>
                </div>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a href="app-profile.html" class="dropdown-item ai-icon">
                                      
                                      <span class="ml-2">Profile </span>
                                  </a>
                                  <a href="email-inbox.html" class="dropdown-item ai-icon">
                                     
                                      <span class="ml-2">Inbox </span>
                                  </a>
                                  <a href="page-login.html" class="dropdown-item ai-icon">
                                     
                                      <span class="ml-2">Logout </span>
                                  </a>
                              </div>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
      <!--**********************************
          Header end ti-comment-alt
      ***********************************-->