 <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
          <div class="deznav-scroll">
      <ul class="metismenu" id="menu">
        <li><a href="/users/dashboard" class="ai-icon" aria-expanded="false">
            <i class="flaticon-381-home"></i>
            <span class="nav-text">Dashboard</span>
          </a>
        </li>
        <li><a href="/users/lands" class="ai-icon" aria-expanded="false">
            <i class="flaticon-381-location"></i>
            <span class="nav-text">Land List</span>
          </a>
        </li>
        <li><a href="/users/manage-transactions" class="ai-icon" aria-expanded="false">
          <i class="flaticon-381-list"></i>
          <span class="nav-text">Transactions</span>
        </a>
      </li>
           
              </ul>
          
    </div>
      </div>
      <!--**********************************
          Sidebar end
      ***********************************-->